<% @questions.each do |question| %>
  <h2><p><%= question.title %></p></h2>
  <p><%= link_to image_tag(question.attachment), question %></p>
<% end %>

<%= link_to 'New question', new_question_path %>
